<nav class="navbar navbar-expand-lg navbar-dark  navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VISHWANANDINI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/profile">Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panchanga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donation">Donation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Content -->
<div class="container">
        <!-- Page Features -->
        <br><br>
        <div class="row text-center">
			       <div class="col-md-1"></div>
                <div class="col-md-10" style="hero-feature ">
                <div class="profile">
                  <h3 style="text-align:center "><b>Vishwanandini Needs Support</b></h3>
					        <hr>
                  <div class="row">
                    <div class="col-md-12" style="text-align:left; ">
								         <h4 style="padding:5px; ">Account Name :<br><b style="color:#095585; ">VISHWANANDINI</b></h4>
								         <h4 style="padding:5px; ">Account Number :<br><b style="color:#095585 ">35368588017</b></h4>
								         <h4 style="padding:5px; ">Account Type :<br><b style="color:#095585 ">Current Account</b></h4>
								         <h4 style="padding:5px; ">Bank :<br><b style="color:#095585 ">State Bank of India</b></h4>
								         <h4 style="padding:5px; ">Branch :<br><b style="color:#095585 ">T. Narasipura, Mysore</b></h4>
								         <h4 style="padding:5px; ">NEW IFSC :<br><b style="color:#095585 ">SBIN0040076</b></h4>
								         <h4 style="padding:5px; ">UPI &nbsp;[Google Pay, Bhim]  :<br><b style="color:#095585 ">9901551491</b></h4>
								         <h4 style="padding:5px; ">Please WhatsApp the transaction details to 9901551491</h4>
						             <hr>
						        </div>
                    <div class="col-md-12" style="text-align:left;">
          							<p style="color:#000000 !important; font-size:17px; padding:5px;">Vishwanandini is a non-commercial project taken up to preserve Samskrutha, and Madhwa Siddhanta for the generations to come in the form of Paathas, Pravachanas and articles. </p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">It has a  very ambitious goal of creating 10000 hours of audio and 30000 Pages of write-ups.</p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">All lessons, discourses and articles are and will be available at no cost through the app and website.</p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">It is not possible to complete this massive project without the help of Sajjanas.</p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">Vishwanandini never thinks of ads or any such commercial activities to gain financial support. </p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">I humbly request you to support only if your financial status is sound enough to offer a donation. </p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; ">My eternal gratitude to the good people who have already been lending their shoulder to this noble cause.</p>
          							<br>
          							<p style="color:#000000 !important; font-size:17px; padding:5px; "> — Vishnudasa Nagendracharya</p>
          							<br>
          							<!--<p style="color:#000000 !important;font-size:16px; padding:2px; ">Vishnudasa Nagendracharya</p>-->
          							<p style="color:#000000 !important;font-size:16px; padding:2px; ">No. 2, "Sri Madhwanuja Mandiram"</p>
          							<p style="color:#000000 !important;font-size:16px; padding:2px; ">Kaveri Marga,  Hemmige Village,</p>
          							<p style="color:#000000 !important;font-size:16px; padding:2px; ">Talakadu,  T Narasipura, </p>
          							<p style="color:#000000 !important;font-size:16px; padding:2px; ">Mysore - 571122, Karnataka, India </p>
          							<br>
						         </div>
                  </div>
                </div>
              </div>
        </div>
      <div class="row">
        <div class="col-lg-1"></div>
  		  <div class="col-lg-10">
  				<hr>
  		  </div>
      </div>
    <!-- Footer -->
    <footer>
        <div class="row">
    			   <div class="col-lg-1"></div>
              <div class="col-lg-10">
                        <p style="text-align:center">Copyright &copy; VISHWANANDINI</p>
              </div>
              <div class="col-lg-1"></div>
        </div>
    </footer>

    </div>
