<nav class="navbar navbar-expand-lg navbar-dark  navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VISHWANANDINI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ">
                <a class="nav-link textUpperCase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <!--Language-->
                  <span style="color:#FFFF00;" >Language</span>&nbsp;
                  <span style="color:#FFFF00;" *ngIf="displayLanguage == 'KANNADA'"><b>ಕ</b></span>
                  <span style="color:#FFFF00;" *ngIf="displayLanguage == 'ENGLISH'"><b>E</b></span>
                  <span style="color:#FFFF00;" *ngIf="displayLanguage == 'TELUGU'"><b>క</b></span>
                  <span style="color:#FFFF00;" *ngIf="displayLanguage == 'TAMIL'"><b>க</b></span>
                  <span style="color:#FFFF00;" *ngIf="displayLanguage == 'HINDI'"><b>अ</b></span>
                </a>
                <div class="dropdown-menu">
                  <a style="cursor: pointer;" class="dropdown-item textUpperCase" (click)="changeToKannada()">Kannada</a>
                  <a style="cursor: pointer;" class="dropdown-item textUpperCase" (click)="changeToEnglish()">English</a>
                  <a style="cursor: pointer;" class="dropdown-item textUpperCase" (click)="changeToTelugu()">Telugu</a>
                  <a style="cursor: pointer;" class="dropdown-item textUpperCase" (click)="changeToTamil()">Tamil</a>
                  <a style="cursor: pointer;" class="dropdown-item textUpperCase" (click)="changeToHindi()">Hindi</a>
                </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panchanga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row text-center">
    <div class="col-md-1  hero-feature"></div>
    <div class="col-md-10">
        <h4 style="text-align: center; color:#095585;padding-top:25px; "><b>
          <span *ngIf="displayLanguage == 'KANNADA'">{{topicInfo.tnkannada}}</span>
          <span *ngIf="displayLanguage == 'ENGLISH'">{{topicInfo.tnenglish}}</span>
          <span *ngIf="displayLanguage == 'TELUGU'">{{topicInfo.tntelugu}}</span>
          <span *ngIf="displayLanguage == 'TAMIL'">{{topicInfo.tntamil}}</span>
          <span *ngIf="displayLanguage == 'HINDI'">{{topicInfo.tnhindi}}</span>
        </b></h4>
    <hr>
    <div class="hero-feature">
      <div *ngFor="let display of topicsPosts">
        <div style="cursor:pointer" class="thumbnail profile" (click)="goToPosts(display)">
          <h5 align="left" style="color:#095585;"><b>
            <span *ngIf="displayLanguage == 'KANNADA'">{{display.postTopicCounts}}.&nbsp;&nbsp;{{display.postKT}}</span>
            <span *ngIf="displayLanguage == 'ENGLISH'">{{display.postTopicCounts}}.&nbsp;&nbsp;{{display.postET}}</span>
            <span *ngIf="displayLanguage == 'TELUGU'">{{display.postTopicCounts}}.&nbsp;&nbsp;{{display.postTET}}</span>
            <span *ngIf="displayLanguage == 'TAMIL'">{{display.postTopicCounts}}.&nbsp;&nbsp;{{display.postTAT}}</span>
            <span *ngIf="displayLanguage == 'HINDI'">{{display.postTopicCounts}}.&nbsp;&nbsp;{{display.postHT}}</span>
          </b></h5>
          <p style="width:100%;overflow: auto;text-align:justify;white-space: pre-wrap;" >
            <span *ngIf="displayLanguage == 'KANNADA'">{{display.postKSD}}</span>
            <span *ngIf="displayLanguage == 'ENGLISH'">{{display.postESD}}</span>
            <span *ngIf="displayLanguage == 'TELUGU'">{{display.postTESD}}</span>
            <span *ngIf="displayLanguage == 'TAMIL'">{{display.postTASD}}</span>
            <span *ngIf="displayLanguage == 'HINDI'">{{display.postHSD}}</span>
          </p>
          <div class="card-footer text-muted">
            {{display.postViews}} Views
          </div>
        </div>
        <br>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <hr>
    </div>
  </div>
  <!-- Footer -->
  <footer>
      <div class="row">
           <div class="col-lg-1"></div>
              <div class="col-lg-10">
                  <p style="text-align:center">Copyright &copy; VISHWANANDINI</p>
              </div>
      </div>
  </footer>
</div>
<ngx-ui-loader></ngx-ui-loader>
