<nav class="navbar navbar-expand-lg navbar-dark  navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VISHWANANDINI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/profile">Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panchanga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donation">Donation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Content -->
<div class="container">
        <!-- Page Features -->
        <br><br>
        <div class="row text-center">
			       <div class="col-md-1"></div>
                <div class="col-md-10" style="hero-feature ">
                <div class="profile">
                    <img src="assets/profile_image2.png" width="500" height="450" alt="">
                    <div class="caption" >
                        <h3>Vishnudasa Nagendracharya</h3>
                        <pre>
                                <p style="font-size:17px;">ನಾನು ಹುಟ್ಟಿದ್ದು ಸಿದ್ಧಾರ್ಥಿ ಸಂವತ್ಸರದ ಆಷಾಢ ಶುದ್ಧ ಷಷ್ಠೀ. (30-6-1979) ಇವತ್ತಿನ ಚಿಕ್ಕಬಳ್ಳಾಪುರ ಜಿಲ್ಲೆಯ ಗೌರೀಬಿದನೂರು ತಾಲ್ಲೂಕಿನ ಉತ್ತರಪಿನಾಕಿನಿಯ ತೀರದ ಅರಸಾಲಬಂಡೆ ಅಥವಾ
  ಮಾವಿನಕಾಯಿಹಳ್ಳಿ ಎಂಬ ಹಳ್ಳಿಯಲ್ಲಿ. ಶ್ರೀಮಚ್ಚಂದ್ರಿಕಾಚಾರ್ಯರು ಪ್ರತಿಷ್ಠಾಪಿಸಿದ ಪ್ರಾಣದೇವರ ಸನ್ನಿಧಾನವಿರುವ, ಸೋಸಲೆ ಶ್ರೀ ವ್ಯಾಸರಾಜಸಂಸ್ಥಾನದ ಶಿಷ್ಯವೃಂದವಿರುವ ಗ್ರಾಮ. ಶ್ರೀ ವಿದ್ಯಾಪ್ರಸನ್ನತೀರ್ಥರು ಮತ್ತು ಶ್ರೀ ವಿದ್ಯಾಪಯೋನಿಧಿತೀರ್ಥರು ನಮ್ಮ ಗ್ರಾಮವನ್ನು ಚಿಕ್ಕಸೋಸಲೆ ಎಂದೇ ಕರೆಯುತ್ತಿದ್ದರು.  ಶ್ರೀ ಭಾಷ್ಯದೀಪಿಕಾಚಾರ್ಯರ ಜನ್ಮಸ್ಥಳವಾದ ವರವಣಿಗೆ ಅತ್ಯಂತ ಸಮೀಪದ ಊರು.

  ಶ್ರೀಮಚ್ಚಂದ್ರಿಕಾಚಾರ್ಯರು ಒಂದು ಲಕ್ಷಕ್ಕೂ ಮಿಗಿಲಾದ ಬ್ರಾಹ್ಮಣ ಕುಟುಂಬಗಳಿಗೆ ಜಮೀನು ನೀಡಿ, ವಿದ್ಯೆ ನೀಡಿ ಅನುಗ್ರಹಿಸಿದ್ದರು. ಅವರ ಅನುಗ್ರಹವನ್ನು ಪಡೆದ ಮನೆತನವೊಂದರಲ್ಲಿ ಜನಿಸಿದ್ದು ನನ್ನ ಜನ್ಮಾಂತರಗಳ ಸುಕೃತದ ಫಲ. ಶ್ರೀಮಟ್ಟೀಕಾಕೃತ್ಪಾದರ, ಶ್ರೀ ರಾಜೇಂದ್ರತೀರ್ಥಶ್ರೀಪಾದರ, ಶ್ರೀ ವಿಬುಧೇಂದ್ರತೀರ್ಥಶ್ರೀಪಾದರ, ಶ್ರೀ ಶ್ರೀಪಾದರಾಜರ, ಶ್ರೀಮಚ್ಚಂದ್ರಿಕಾಚಾರ್ಯರ, ಶ್ರೀ ಶೇಷಚಂದ್ರಿಕಾಚಾರ್ಯರ, ಶ್ರೀ ಭಾಷ್ಯದೀಪಿಕಾಚಾರ್ಯರ ಅನುಗ್ರಹಕ್ಕೆ ಪಾತ್ರವಾದ ಅರವೊತ್ತಕ್ಕಲು ಮನೆತನಕ್ಕೆ ಸೇರಿದ ಬಾದರಾಯಣಗೋತ್ರದ ದೇಶಪಾಂಡೆ ಮನೆತನದ ಶ್ರೀ ಸರ್ವೋತ್ತಮಾಚಾರ್ಯ ನನ್ನ ತಾತ. ಅವರ ಕಡೆಯ ಮಗ  ಶ್ರೀ ಶ್ರೀಕಂಠಾಚಾರ್ಯ ನನ್ನ ತಂದೆ. ಭಾರದ್ವಾಜ ಗೋತ್ರದ ಚಿಂಚೋಳಿ ರಘೂತ್ತಮಾಚಾರ್ಯರ ಮೊಮ್ಮಗಳು ಲಕ್ಷ್ಮೀ ನನ್ನ ತಾಯಿ.

  ಜನ್ಮ ನೀಡಿದ್ದಲ್ಲದೇ ಅವರು ಮಾಡಿದ ಅನೇಕ ಮಹೋಪಕಾರಗಳಲ್ಲಿ ಮತ್ತೊಂದು ಮಹತ್ತರ ಉಪಕಾರ ನನ್ನಿಂದ ನಾಕು - ಐದನೆಯ ವಯಸ್ಸಿನಿಂದಲೇ ಏಕಾದಶಿಯ ಉಪವಾಸ ಮಾಡಿಸುತ್ತಿದ್ದದ್ದು.

  ಏಕಾದಶಿಯ ಉಪವಾಸಕ್ಕೆ ಶಾಸ್ತ್ರಾಧ್ಯಯನದ ಸೌಭಾಗ್ಯವನ್ನು ಕರುಣಿಸುವ ಮಹಾಸಾಮರ್ಥ್ಯವಿದೆ. ತಂದೆತಾಯಿಗಳ ವಾತ್ಸಲ್ಯದಿಂದ, ಹಿರಿಯರ ಆಶೀರ್ವಾದದಿಂದ, ಗುರುಗಳ ಅನುಗ್ರಹದಿಂದ, ಶ್ರೀಮದಾಚಾರ್ಯರ ಕಾರುಣ್ಯದಿಂದ ಪರಮಾತ್ಮನ ಪರಮಾನುಗ್ರಹದಿಂದ ಆಚಾರ್ಯರ ಶಾಸ್ತ್ರದ ಎರಡಕ್ಷರವನ್ನು ಓದುವ ಮಹಾಸೌಭಾಗ್ಯ ಒದಗಿಬಂದಿದೆ.

  ನನ್ನ ತಂದೆತಾಯಿಯರು ಮಾವಿನಕಾಯಿಹಳ್ಳಿಯನ್ನು ಬಿಟ್ಟು 1983 ರಲ್ಲಿ ಬೆಂಗಳೂರಿನಲ್ಲೆ ನೆಲೆಗೊಂಡರು. 94ನೆಯ ಇಸವಿಯಲ್ಲಿ ನನ್ನ SSLC ಪರೀಕ್ಷೆ ಮುಗಿಯುತ್ತಿದ್ದಂತೆ ಮೇ ತಿಂಗಳಲ್ಲಿ, ನಮ್ಮ ಕುಲಗುರುಗಳಾದ ಶ್ರೀ ಶ್ರೀನಿವಾಸತೀರ್ಥಶ್ರೀಪಾದಂಗಳವರ ಆರಾಧನೆಯ ಪವಿತ್ರ ದಿವಸ — ವೈಶಾಖ ಬಹುಳ ಪಂಚಮಿಯಂದು —  ಶ್ರೀ ಭಂಡಾರಕೇರಿ ಸಂಸ್ಥಾನದ ಶ್ರೀ ವಿದ್ಯೇಶತೀರ್ಥಶ್ರೀಪಾದಂಗಳವರ ಬಳಿ ವಿದ್ಯಾಭ್ಯಾಸಕ್ಕಾಗಿ ತೆರಳಿದೆ. ಒಂದು ವರ್ಷದ ಅವಧಿಯಲ್ಲಿ ಮಣಿಮಂಜರಿಯ ನಾಲ್ಕು ಸರ್ಗಗಳು, ಶ್ರೀ ಮಧ್ವವಿಜಯದ ಮೊದಲ ಆರು ಸರ್ಗಗಳಲ್ಲಿ  ಅಲ್ಲಲ್ಲಿ ಕೆಲವು ಭಾಗ ಪಾಠಗಳಾದವು.

  ನನ್ನ ವ್ಯಕ್ತಿತ್ವದ ಮೇಲೆ ಪರಮಪೂಜ್ಯ ಶ್ರೀ ವಿದ್ಯೇಶತೀರ್ಥಶ್ರೀಪಾದಂಗಳವರ ಪರಿಣಾಮ ಅಪಾರವಾದದ್ದು. ಪೂಜ್ಯರು ಆ ವರ್ಷ ಗಯಾಕ್ಷೇತ್ರದಲ್ಲಿ ಚಾತುರ್ಮಾಸ್ಯ ಕುಳಿತಿದ್ದರು. ಉಡುಪಿಯಿಂದ ಗಯಾದವರೆಗಿನ ದೀರ್ಘ ಪ್ರಯಾಣ. ಸುಡುಬಿಸಿಲಿನ ದಾರಿ. ಏನೂ ತಿಳಿಯದ ಸಣ್ಣಸಣ್ಣ ನಾಲ್ಕು ಹುಡುಗರು ಮಾತ್ರ ಜೊತೆಯಲ್ಲಿ. ಆ ಪ್ರಯಾಣದಲ್ಲಿ, ಹಾಗೂ ಗಯಾದಲ್ಲಿ ಜರುಗಿದ ಪ್ರಸಂಗಗಳಲ್ಲಿ ನಾನು ಪೂಜ್ಯರನ್ನು ತುಂಬ ಹತ್ತಿರದಿಂದ ಕಂಡಿದ್ದೇನೆ. ಅದೆಂತಹ ಕಠಿಣ ಪ್ರಸಂಗದಲ್ಲಿಯೂ ಧರ್ಮಾಚರಣೆಯನ್ನು ಕೈಬಿಡದ, ಉಪವಾಸದಿಂದ ದೇಹ ಸೊರಗಿದರೂ ಮುಖದಲ್ಲಿ ಅದನ್ನು ತೋರಗೊಡದ, ಅದೆಷ್ಟು ಸಮಯವಾಗಿದ್ದರೂ ಪೂಜೆಯ ವಿಧಾನದಲ್ಲಿ ಸಣ್ಣ ಲೋಪವನ್ನೂ ಎಸಗದ, ಶಾಸ್ತ್ರದ ಅಧ್ಯಯನವನ್ನು ಒಂದು ದಿವಸವಾದರೂ ಕೈಬಿಡದ, ತಮಗೆ ಸಂಬಂಧವಿರದ ವಿಷಯಕ್ಕೆ ಮನಸ್ಸು ದೂರ ಉಳಿಯಿತು, ಕಿವಿಯನ್ನೂ ನೀಡದ ಶ್ರೀ ವಿದ್ಯೇಶತೀರ್ಥಶ್ರೀಪಾದಂಗಳವರು ನನ್ನ ಮೇಲೆ ಗಾಢವಾದ ಪರಿಣಾಮವನ್ನು ಬೀರಿದ್ದಾರೆ. ನನ್ನ ಜೀವನದಲ್ಲಿ ಧರ್ಮವೋ ಸುಖವೋ ಎಂದು ಪ್ರಶ್ನೆ ಬಂದಾಗ ಅವರನ್ನು ನೆನೆದು ನಾನು ಧರ್ಮದ ಮಾರ್ಗದಲ್ಲಿ ನಡೆದಿದ್ದೇನೆ. ತಮ್ಮ ವ್ಯಕ್ತಿತ್ವದಿಂದ ನನಗೆ ಪಾಠ ಹೇಳಿದ ಆ ಮಹಾನುಭಾವರಿಗೆ ನನ್ನ ಭಕ್ತಿಯುಕ್ತ ಸಾಷ್ಟಾಂಗ ನಮಸ್ಕಾರಗಳು.

  ಆದರೆ,  ಮಠ ಎಂದರೆ ಸಂಚಾರ ಅನಿವಾರ್ಯ. ಸಂಚಾರದಲ್ಲಿ ಪಾಠ ನಿರಂತರವಾಗಿ ನಡೆಯುವದೂ ಅಸಾಧ್ಯ. ಹೀಗಾಗಿ ನಿರಂತರ ಪಾಠಗಳು ನಡೆಯಬೇಕು ಎನ್ನುವ ಕಾರಣಕ್ಕೆ ಮಠವನ್ನು ತೊರೆದು ಮುಂಬಯಿಯ ಶ್ರೀ ಸತ್ಯಧ್ಯಾನ ವಿದ್ಯಾಪೀಠವನ್ನು ಸೇರಿದೆ. 95ನೆ ಇಸವಿಯ ಜೂನ್ ತಿಂಗಳಲ್ಲಿ.

  ಆ ನಂತರ, ಐದು ವರ್ಷಗಳ ಕಾಲ ಶ್ರೀ ಸತ್ಯಧ್ಯಾನವಿದ್ಯಾಪೀಠದಲ್ಲಿದ್ದೆ. ಪರಮಪೂಜ್ಯ ಮಾಹುಲೀ ಆಚಾರ್ಯರು (ಪರಮಪೂಜ್ಯ ಶ್ರೀ ವಿದ್ಯಾಸಿಂಹಾಚಾರ್ಯರು) ನನಗೊಂದು ವ್ಯಕ್ತಿತ್ವವನ್ನು ನೀಡಿದವರು.  ಶಾಸ್ತ್ರಗಳನ್ನು ಅಧ್ಯಯನ ಮಾಡುವ ಪರಿಶುದ್ಧ ರೀತಿ, ಪ್ರಾಮಾಣಿಕವಾಗಿ ಸಂಶೋಧನೆ ಮಾಡುವ ಕ್ರಮ, ನಿಷ್ಪಕ್ಷಪಾತವಾಗಿ ತತ್ವಗಳನ್ನು ನಿರ್ಣಯಿಸುವ ಕೌಶಲ, ಕೇಳುಗರ ಮಟ್ಟಕ್ಕಿಳಿದು ತತ್ವವನ್ನು ಅರ್ಥ ಮಾಡಿಸುವ ಜಾಣ್ಮೆ,  ಇವೆಲ್ಲದಕ್ಕಿಂತ ಮುಖ್ಯವಾಗಿ ಶಾಸ್ತ್ರಾಧ್ಯಯನ ಎನ್ನುವದು ಪ್ರಚಾರ ಪಡೆಯುವದಕ್ಕಲ್ಲ, ಮತ್ತೊಬ್ಬರ ಉದ್ಧಾರಕ್ಕಾಗಿಯೂ ಅಲ್ಲ, ನಮ್ಮ ಆತ್ಮೋನ್ನತಿಗಾಗಿ ಎಂಬ ಎಚ್ಚರ, ನಿರ್ಮಲ ಮತ್ತು ನಿಷ್ಕಲ್ಮಶವಾದ ಭಕ್ತಿಯೇ ನಿಜವಾದ ಪಂಡಿತರ  ಲಕ್ಷಣಗಳು ಎಂದು ಅರಿವಾದದ್ದು ಇದೇ ಸಂದರ್ಭದಲ್ಲಿ.

  ಆದರೆ, ಪ್ರತಿಯೊಂದು ಜೀವವೂ ವಿಭಿನ್ನ. ಬೇರೆಯವರು ಒಪ್ಪಲಿ ಬಿಡಲಿ, ಇರುವದನ್ನು ಹೇಳಬೇಕಾದ್ದು ನನ್ನ ಕರ್ತವ್ಯ. ನನ್ನ ಅಧ್ಯಯನದ ಹಸಿವೆ ಬೇರೆಯ ರೀತಿಯದ್ದು. ವಿದ್ಯಾಪೀಠದಲ್ಲಿ ನಡೆಯುತ್ತಿದ್ದ ಪಾಠಗಳು ನನಗೆ ಸಾಲುತ್ತಿರಲಿಲ್ಲ. ನಿದ್ರೆ ಊಟದ ಸಮಯ ಬಿಟ್ಟು ಮತ್ತೆಲ್ಲ ಸಮಯ ಅಧ್ಯಯನಕ್ಕಾಗಿ ಮೀಸಲಾಗಿರಬೇಕು ಎನ್ನುವದು ನನ್ನ ಜೀವದ ತುಡಿತ. (ಇಲ್ಲಿನ ಯಾವುದನ್ನೂ ನಾನು ಹೆಮ್ಮೆಯಿಂದ ಅಹಂಕಾರದಿಂದ ಹೇಳಿಕೊಳ್ಳುತ್ತಿಲ್ಲ. ಗುರು ದೇವತೆಗಳು ನನ್ನ ಮೇಲೆ ಮಾಡಿರುವ ಅನುಗ್ರಹದ ಸ್ಮರಣೆಯಷ್ಟೇ ಇದು) ಒಂದೆರಡು ಗ್ರಂಥಗಳನ್ನು ಓದಿ ಓದು ಮುಗಿಯಿತು ಎಂದಾಗಬಾರದು. ಪ್ರತಿಯೊಂದು ದರ್ಶನವನ್ನೂ, ಶಾಸ್ತ್ರವನ್ನೂ ತಲಸ್ಪರ್ಶಿಯಾಗಿ ಅಧ್ಯಯನ ಮಾಡಬೇಕು. ಯಾವುದೇ ತತ್ವವನ್ನು ಇದಮಿತ್ಥಂ ಎಂದು ನಿರ್ಣಯಿಸುವ ಎತ್ತರವನ್ನು ಮುಟ್ಟಬೇಕು ಎನ್ನುವದು ನನ್ನಲ್ಲಿನ ಅದಮ್ಯ ಬಯಕೆಯಾಗಿತ್ತು.

  ಪೂಜ್ಯ ಆಚಾರ್ಯರ ಬಳಿಯಲ್ಲಿ ವ್ಯಾಕರಣದಲ್ಲಿ ಷಡ್ಲಿಂಗಿಯ ಪಾಠ, ನ್ಯಾಯಶಾಸ್ತ್ರದಲ್ಲಿ ತರ್ಕಸಂಗ್ರಹ, ದಿನಕರಿಯ ಆರಂಭದ ಭಾಗ, ವೇದಾಂತದಲ್ಲಿ ಖಂಡನತ್ರಯ ಪಾಠಗಳು ಮುಗಿದು ತತ್ವೋದ್ಯೋತದ ಪಾಠ ಆರಂಭವಾಗಿತ್ತು. ಅಖಂಡಾರ್ಥವಾದದವರೆಗೆ ತತ್ವೋದ್ಯೋತದ ಪಾಠ ನಡೆಯುವಾಗಲೇ ವಿಷ್ಣುತತ್ವನಿರ್ಣಯವನ್ನೂ ಆರಂಭಿಸಿ ಮೂರು ನಾಲ್ಕು ಪತ್ರಗಳ ಪಾಠವಾದವು. ಆದರೆ, ನನ್ನ ಹಸಿವು ಬೇರೆಯಿತ್ತು. ಸಂಸ್ಕೃತ ಸಾಹಿತ್ಯದ, ವ್ಯಾಕರಣದ, ನ್ಯಾಯಶಾಸ್ತ್ರದ, ಮೀಮಾಂಸಾಶಾಸ್ತ್ರದ, ಮುಖ್ಯವಾಗಿ ಆಯಾ ಶಾಸ್ತ್ರಗಳ ಮೂಲಗ್ರಂಥಗಳ ತಲಸ್ಪರ್ಶಿ ಅಧ್ಯಯನವಾಗಬೇಕು ಎನ್ನುವ ತುಡಿತ ದಿವಸದಿಂದ ದಿವಸಕ್ಕೆ ಹೆಚ್ಚಾಗುತ್ತಿತ್ತು. ಮಧ್ವಶಾಸ್ತ್ರದ ಪ್ರತಿಯೊಂದು ಗ್ರಂಥದ ಅಕ್ಷರಅಕ್ಷರದ ಉಪಾಸನೆಯನ್ನು ಮಾಡಬೇಕು ಎನ್ನುವ ಹಂಬಲ ನನ್ನನ್ನು ಆವರಿಸಿ ನಿಲ್ಲುತ್ತಿತ್ತು. ನನಗೆ ತೃಪ್ತಿಯಾಗುವಂತೆ ಓದಲು ಸಾಧ್ಯವಾಗುತ್ತಿಲ್ಲ ಎನ್ನುವ ನೋವು ದಿನದಿನಕ್ಕೆ ಹೆಚ್ಚಾಗುತ್ತಿತ್ತು. ಹೀಗಾಗಿ ಗಟ್ಟಿಯಾಗಿ ನಿರ್ಧಾರ ಮಾಡಿ ವಿದ್ಯಾಪೀಠವನ್ನು ತೊರೆದು ಹೊರಡುವ ಸ್ವಂತ ಅಧ್ಯಯನವನ್ನು ಮಾಡುವ ನಿರ್ಧಾರ ಮಾಡಿದೆ.

  ಈಗಾಗಲೇ ಒಂದು ಬಾರಿ ವಿದ್ಯಾಪೀಠ ಬಿಟ್ಟು ಬಂದು ನಮ್ಮ ಮಾವಿನಕಾಯಿಹಳ್ಳಿಯ ಮನೆಯಲ್ಲಿ ಆರು ತಿಂಗಳ ಕಾಲ ಸ್ವಂತ ಅಧ್ಯಯನಕ್ಕೆ ಕುಳಿತು ಬಿಟ್ಟಿದ್ದೆ. ನನಗೆ ಮೊದಲಿನಿಂದಲೂ ಪತಂಜಲಿಯ ಮಹಾಭಾಷ್ಯದ ಮೇಲೆ ಅಕ್ಕರೆ. ಅದನ್ನು ಅಧ್ಯಯನ ಮಾಡಲಿಕ್ಕೆ ಕುಳಿತಿದ್ದೆ. ಆದರೆ ಪರಮಪೂಜ್ಯ ಆಚಾರ್ಯರು ತಮ್ಮ ವಾತ್ಸಲ್ಯದಿಂದ ನನ್ನನ್ನು ಕರೆಯಿಸಿಕೊಂಡುಬಿಟ್ಟಿದ್ದರು. ಅವರ ಭರಪೂರ ವಾತ್ಸಲ್ಯ ನಿರ್ವ್ಯಾಜ ಕಾರುಣ್ಯಗಳಿಗೆ ನಾನು ಶರಣಾಗಿದ್ದೆ. ಆದರೆ ಅದನ್ನು ಹತ್ತಿಕ್ಕಿದ್ದು ಮತ್ತೆ ನನ್ನ ಅಧ್ಯಯನದ ಹಸಿವು. 99ರ ಯುಗಾದಿಯಂದು ವಿದ್ಯಾಪೀಠಕ್ಕೆ ಹಿಂತಿರುಗಿದ್ದ ನಾನು ಅದೇ ವರ್ಷದ ಶ್ರಾವಣ ಕೃಷ್ಣ ದ್ವಾದಶಿಯಂದು ಗಟ್ಟಿ ನಿರ್ಣಯ ಮಾಡಿ ವಿದ್ಯಾಪೀಠ ಬಿಟ್ಟು ಹೊರಟೆ.

  ಮನೆಗೆ ಬಂದವನೇ ನನ್ನ ತಂದೆಯವರಿಗೆ ನನ್ನ ನಿರ್ಧಾರ ತಿಳಿಸಿ ಹೇಳಿದೆ. ನನಗಿದ್ದ ಸ್ವಂತ ಅಧ್ಯಯನದ ಅಪೇಕ್ಷೆಯನ್ನು ತಿಳಿಸಿ ಹೇಳಿದೆ. ತಂದೆ ತಾಯಿಯರಿಬ್ಬರೂ ಒಪ್ಪಿಗೆ ನೀಡಿದರು.

  ಆ ನಂತರ ಒಂದು ಮನೆಗಾಗಿ ಹುಡುಕಾಟ ಆರಂಭಿಸಿದೆ. ಪಟ್ಟಣದಿಂದ ದೂರದಲ್ಲಿರುವ ಮನೆ ಬೇಕಾಗಿತ್ತು. ಸಾಕಷ್ಟು ಹುಡುಕಾಟದ ನಂತರ ಕೃಷ್ಣರಾಜಪುರದಲ್ಲಿ ನನ್ನ ತಾಯಿಯ ತಂಗಿಯ ಮನೆಯೊಂದು ಖಾಲಿಯಿರುವದು ತಿಳಿಯಿತು. ಜನಜಂಗುಳಿಯಿಂದ ದೂರವಿದ್ದ ಮನೆ. ಬಸ್ ಸ್ಟಾಪಿನಿಂದ ನಾಕು ಕಿಲೋಮೀಟರ್ ನಡೆದು ಬರಬೇಕಿತ್ತು. ಒಂದು ರೂಮು, ಹಾಲು ಪುಟ್ಟ ಅಡಿಗೆಮನೆಯಿದ್ದ, ನನಗೆ ಹೇಳಿ ಮಾಡಿಸಿದಂತಿದ್ದ ಮನೆ. ಅಕ್ಕ ಪಕ್ಕದಲ್ಲಿ ಮನೆಗಳೂ ತುಂಬ ವಿರಳ. ಸಂಜೆ ಹೊರಬಂದರೆ ಹಾವುಗಳು ಓಡಾಡುವದು ಕಾಣುತ್ತಿತ್ತು. ಒಟ್ಟಿನಲ್ಲಿ ಜನಸಂಪರ್ಕ ತುಂಬ ಕಡಿಮೆಯಿದ್ದ ಮನೆ. ಒಂದು ಸಣ್ಣ ಬ್ಯಾಗಿನಲ್ಲಿ ಬಟ್ಟೆಗಳು, ಒಂದು ಡಬ್ಬಿಯಲ್ಲಿ ಅಡಿಗೆಪದಾರ್ಥಗಳು, ನಲವತ್ತೆರಡು ಡಬ್ಬಿಗಳಲ್ಲಿ ಗ್ರಂಥಗಳನ್ನು ಹೊತ್ತುಕೊಂಡು ನವರಾತ್ರಿಯಲ್ಲಿ ಆ ಮನೆಗೆ ಸೇರಿದೆ.

  ವಿಜಯದಶಮಿಯ ಪವಿತ್ರ ದಿವಸ ಶ್ರೀಮದಾಚಾರ್ಯರನ್ನು ನೆನೆಸಿ ಮೊದಲಿಗೆ ಮಹಾಭಾಷ್ಯವನ್ನೇಪೂರ್ಣ ಅಧ್ಯಯನ ಮಾಡೋಣ ಎಂದು ಆರಂಭಿಸಿದೆ. ಆದರೆ ನಿಜವಾದ ಸಮಸ್ಯೆ ಮೊದಲನೆಯ ದಿವಸವೇ ಆರಂಭವಾಗಿತ್ತು. ಮಹಾಭಾಷ್ಯದ ಒಂದೆರಡು ಆಹ್ನೀಕಗಳನ್ನು ಮೊದಲಿಗೇ ಓದಿದ್ದೆ. ಶಬ್ದಕೌಸ್ತುಭವನ್ನು ಓದಿದ್ದೆ. ಚನ್ನಾಗಿಯೇ ಅರ್ಥವಾಗಿತ್ತು. ಆದರೆ, ಈಗ ಓದಿದ ಭಾಗವನ್ನೇ ಮತ್ತೆ ಓದಿದರೂ ಅರ್ಥವಾಗುತ್ತಿಲ್ಲ. ಓದಿದ್ದನ್ನೆಲ್ಲ ಬರೆದುಕೊಂಡು ಹೋಗಬೇಕು ಎಂದು ನಿರ್ಧರಿಸಿದ್ದೆ, ಆದರೆ, ಏನು ಬರೆಯಬೇಕು ತೋಚುತ್ತಿಲ್ಲ. ಮೂರ್ರ್ನಾಲ್ಕು ದಿವಸ ಇದೇ ಪರಿಸ್ಥಿತಿ. ಕಡೆಗಂತೂ ನನ್ನ ಜೀವನ ಹಾಳುಮಾಡಿಕೊಂಡುಬಿಟ್ಟೇನಾ, ವಿದ್ಯಾಪೀಠ ಬಿಟ್ಟುಬಾರದಿತ್ತಾ  ಅಂತನಿಸಿ  ಕೃಷ್ಣರಾಜಪುರದ ಆ ಒಂಟಿಮನೆಯಲ್ಲಿ ಬಿಕ್ಕಳಿಸಿಬಿಕ್ಕಳಿಸಿ ಅತ್ತುಬಿಟ್ಟಿದ್ದೆ.

  ಆದರೆ, ಗುರುಗಳ ಅನುಗ್ರಹ ಅಪಾರವಾದದ್ದು. ಕಣ್ಣೀರಾಗಿ ಮಲಗಿದ್ದವನಿಗೆ ಎಚ್ಚರವಾದಾಗ ಬೆಳಗಿನ ಝಾವ. ಆಶ್ವೀನ ಶುಕ್ಲ ತ್ರಯೋದಶೀ. ನನ್ನ ಕುಲಗುರುಗಳಾದ ಶ್ರೀರಾಮತೀರ್ಥರ  ಪರಮಪವಿತ್ರ ಆರಾಧನೆಯ ಆರಂಭದ ದಿವಸ.  ಸ್ನಾನ ಮಾಡಿ ವಾಯುಸ್ತುತಿ, ಟೀಕಾಕೃತ್ಪಾದರ ಸ್ತೋತ್ರ, ಶ್ರೀ ಚಂದ್ರಿಕಾಚಾರ್ಯರ ಸ್ತೋತ್ರವನ್ನು ಪಠಿಸಿದೆ. ನ್ಯಾಯಸುಧಾ ಗ್ರಂಥವನ್ನು ಪಾರಾಯಣ ಮಾಡೋಣ ಎಂದನಿಸಿತು. ತೆಗೆದಿಟ್ಟು ಕುಳಿತೆ. ಶ್ರೀಮದಾಚಾರ್ಯರು, ಶ್ರೀಮಟ್ಟೀಕಾಕೃತ್ಪಾದರು, ಶ್ರೀಮಚ್ಚಂದ್ರಿಕಾಚಾರ್ಯರು ಸಮಸ್ತ ಗುರುಗಳು ಅನುಗ್ರಹಿಸಿದ್ದರು. ಪಾರಾಯಣವಾಗಿ ಅರಂಭವಾದದ್ದು ಅಧ್ಯಯನವಾಗಿ ತಿರುಗಿತು. ಬಿಟ್ಟರೆ ಎಲ್ಲಿ ಕಳೆದುಕೊಳ್ಳುತ್ತೀನೋ ಎಂಬಂತೆ ಆ ದಿವಸ ಅಡಿಗೆಯನ್ನೂ ಮಾಡಿಕೊಳ್ಳದೇ ಅಧ್ಯಯನಕ್ಕೆ ಕುಳಿತಿದ್ದೆ. ಓದಿದ್ದನ್ನು ಬರೆದುಕೊಳ್ಳುತ್ತಿದ್ದೆ. ಸಂಬಂಧಪಟ್ಟ ಎಲ್ಲ ಗ್ರಂಥಗಳನ್ನೂ ಓದಿ ಒಂದಷ್ಟು ಬರೆದೆ. ಸಂಜೆಯ ವೇಳೆಗೆ ಇಡಿಯ ಜಗತ್ತನ್ನು ಗೆದ್ದ ಅನುಭವ. ಹೊರಗೆ ಸಣ್ಣಗೆ ಓಡಾಡಿ ಬಂದು ಚಿತ್ರಾನ್ನ ಮಾಡಿಕೊಂಡು ಊಟ ಮಾಡಿ, ನಾಳೆಯಿಂದ ಅಧ್ಯಯನದ ಕ್ರಮ ಹೇಗಿರಬೇಕು ಎನ್ನುವದನ್ನು ಬರೆದಿಟ್ಟುಕೊಂಡು ಕುಳಿತೆ. ನನ್ನ ಜೀವನದಲ್ಲಿ ಅತೀಮಹತ್ತ್ವದ ಘಟ್ಟ ಆರಂಭವಾಗಿತ್ತು.

  ಮೊದಲಿಗೆ ಇಷ್ಟು ಹೊತ್ತಿಗೆ ಮಲಗಬೇಕು, ಇಷ್ಟು ಹೊತ್ತಿಗೆ ಏಳಬೇಕು ಎಂಬ ನಿಯಮವನ್ನು ಪೂರ್ಣವಾಗಿ ಕೈಬಿಟ್ಟೆ. ಕಣ್ಣು ತೂಕಡಿಸುವವರಿಗೆ ಓದುವದು. ಮೈ ಶ್ರಮ ಕಳೆಯುವವರೆಗೆ ಮಾತ್ರ ಮಲಗುವದು. ಮತ್ತೆ ಎದ್ದು ಓದುವದು. ಮಧ್ಯದಲ್ಲಿ ಯಾವುದೋ ಪ್ರಶ್ನೆ, ಯಾವುದೋ ಸಮಸ್ಯೆ, ಅದಕ್ಕೆ ಉತ್ತರ ಹುಡುಕಾಟಕ್ಕೆ ಮತ್ತೆ ಅಧ್ಯಯನ. ಹೀಗೆ ನಾನಾಯಿತು ನನ್ನ ಪುಸ್ತಕದ ಲೋಕವಾಯಿತು ಎಂದು ನಾಲ್ಕು ವರ್ಷಗಳ ಕಾಲ  ಹೊರಜಗತ್ತಿನ ಜೊತೆ ಸಂಬಂಧ ಕಡಿದುಕೊಂಡು ಅಧ್ಯಯನಕ್ಕೆ ಕುಳಿತುಬಿಟ್ಟಿದ್ದೆ.

  ಸಾಮಾನ್ಯವಾಗಿ ಬೆಳಗಿನ ಝಾವ ಮೂರೂವರೆಗೆ ಎಚ್ಚರವಾಗಿಬಿಡುತ್ತಿತ್ತು. ಆರು ಗಂಟೆಯವರೆಗೆ ವ್ಯಾಕರಣದ ಅಧ್ಯಯನ. ಸ್ನಾನ, ಸಂಧ್ಯಾವಂದನೆ, ದೇವರಪೂಜೆಗೆ ಮೂವತ್ತು ನಿಮಿಷಗಳು ಮಾತ್ರ. ಆ ನಂತರ ಹಾಲು ಕುಡಿದು ವೇದಾಂತದ ಅಧ್ಯಯನ. ಮಧ್ಯಾಹ್ನ 12 ಕ್ಕೆ ಮಡಿಯುಟ್ಟು ಇದ್ದಲಿ ಒಲೆಯ ಮೇಲೆ ಅನ್ನಕ್ಕಿಟ್ಟು ವಿಷ್ಣುಸಹಸ್ರನಾಮ ಪಾರಾಯಣ ಮಾಡುವಷ್ಟರಲ್ಲಿ ಅನ್ನವಾಗಿರುತ್ತಿತ್ತು. ಅದಕ್ಕೆ ಒಗ್ಗರಣೆ ಹಾಕಿದರೆ ಘಮಘಮಿಸುವ ಚಿತ್ರಾನ್ನ. ಆ ನಂತರ ಮೊಸರನ್ನ. ಊಟ ಮಾಡಿ ಸರಿಯಾಗಿ ಮೂವತ್ತು ನಿಮಿಷಗಳ ನಿದ್ರೆ. ನಂತರ ನ್ಯಾಯಶಾಸ್ತ್ರದ ಅಧ್ಯಯನ. ಸಂಜೆ ಐದರ ಹೊತ್ತಿಗೆ ಹೊರಗೆ ಹೋಗಿ ಅಡ್ಡಾಡಿ ಬರುತ್ತಿದ್ದೆ. ಮತ್ತೆ ಸಂಧ್ಯಾವಂದನೆ, ಅಧ್ಯಯನ. ಊಟ. ನಿದ್ರೆ ಬರುವವರೆಗೆ ಬರವಣಿಗೆ, ಅಧ್ಯಯನ.

  ನನ್ನ ಜೀವನದ ಸುವರ್ಣಕಾಲ ಎಂದರೆ ಆ ದಿವಸಗಳು. ಅದೆಷ್ಟು ಜನ್ಮಗಳ ಸೌಭಾಗ್ಯದಿಂದ ಆ ರೀತಿಯ ಬದುಕು ದೊರೆಯಿತೋ ಗೊತ್ತಿಲ್ಲ. ನನಗೆ ನಾನು ಅರ್ಥವಾದ ಸಮಯವದು. ನನಗೆ ಮಧ್ವಶಾಸ್ತ್ರ ದೊರೆತ, ನನ್ನ ಬದುಕು ಧನ್ಯವಾದ ಸಮಯವದು. ಮತ್ತೆ ಅದೇ ರೀತಿಯ ಸಮಯಕ್ಕಾಗಿ ಜೀವ ಇವತ್ತಿಗೂ ಹಾತೊರೆಯುತ್ತಿದೆ.

  ಆ ಮನೆಯನ್ನು ಅಷ್ಟು ದಿವಸ ನೀಡಿದ ನನ್ನ ಚಿಕ್ಕಮ್ಮ-ಚಿಕ್ಕಪ್ಪಂದಿರಿಗಂತೂ ನಾನು ಕಡೆಯವರಿಗೆ ಋಣಿ.  ಅವರ ಕುಟುಂಬದಲ್ಲಿ ಸದಾ ನೆಮ್ಮದಿಯಿರಲಿ, ಅವರು ಬಯಸುವ ಸಕಲ ಸುಖಗಳೂ ದೊರೆಯಲಿ ಎಂದು ದೇವರನ್ನು ಮನಃಪೂರ್ವಕವಾಗಿ ಪ್ರಾರ್ಥಿಸಿದ್ದೇನೆ.

  ತಿಂಗಳಿಗೊಮ್ಮೆ ಬೇಕಾದ ಪದಾರ್ಥಗಳನ್ನು ತಂದು ನೀಡುತ್ತಿದ್ದ ತಂದೆತಾಯಿಯರು, ಎಷ್ಟೇ ಬೆಲೆಯ ಪುಸ್ತಕವಾದರೂ ಬೇಸರವಿಲ್ಲದೆ ಕೊಡಿಸುತ್ತಿದ್ದ ತಂದೆಗೆ  ಏನು ನೀಡಿ ತಾನೇ ಋಣವನ್ನು ತೀರಿಸಲು ಸಾಧ್ಯ?

  ಈ ಏಕಾಂತದ ಅಧ್ಯಯನದ ಸಂದರ್ಭದಲ್ಲಿಯೇ ನಾನು ಮಾಡಿದ್ದ ನಿರ್ಧಾರ — ನಾನು ಬೆಂಗಳೂರಿನಲ್ಲಿ ವಾಸವಿರುವದಿಲ್ಲ. ವಾಸವಿದ್ದರೆ, ಒಂದು ನದಿಯ ಪ್ರಶಾಂತ ತೀರದಲ್ಲಿಯೇ ವಾಸವಿರುತ್ತೇನೆ ಎಂದು. ಅದಕ್ಕಾಗಿ 2002 ರಿಂದಲೇ ಸ್ಥಳದ ಹುಡುಕಾಟ ಆರಂಭಿಸಿದೆ. ಗುರುಗಳ ಪರಮಾನುಗ್ರಹದಿಂದ ಇವತ್ತು ಕಾವೇರಿಯ ತೀರದ ಒಂದು ಪುಟ್ಟ ಹಳ್ಳಿ ಹೆಮ್ಮಿಗೆಯಲ್ಲಿ ವಾಸವಿದ್ದೇನೆ. ಈ ಸ್ಥಳವನ್ನು ಹುಡುಕಲು ಸುಮಾರು ಹದಿನೈದು ಸಾವಿರ ಕಿಲೋಮೀಟರುಗಳನ್ನು ಓಡಾಡಿದ್ದೇನೆ. ಗಂಗಾ ಮತ್ತು ನರ್ಮದೆಯ ತೀರಗಳಲ್ಲಿಯೂ ಸೂಕ್ತ ಸ್ಥಳಕ್ಕಾಗಿ ಅಡ್ಡಾಡಿ ಬಂದಿದ್ದೇನೆ. ಕಪಿಲೆಯ ತೀರದಲ್ಲಿ ಒಂದು ಸ್ಥಳವನ್ನು ನಿಗದಿ ಮಾಡಿ ಮುಂದಿನ ವಾರ ಬಂದು ಹಣ ನೀಡುತ್ತೇನೆ ಎಂದು ಹೇಳಿ ಕುಲಗುರುಗಳಾದ ಶ್ರೀ ಶೇಷಚಂದ್ರಿಕಾಚಾರ್ಯರ ದರ್ಶನಕ್ಕಾಗಿ ತಿರುಮಕೂಡಲಿಗೆ ಬಂದಿದ್ದೆ. ಅವರ ಪರಮಾನುಗ್ರಹದಿಂದ ಹೆಮ್ಮಿಗೆಯಲ್ಲಿ ಸ್ಥಳ ದೊರೆಯಿತು. ಸಾಧನೆಗೆ ಭೂಮಿಯನ್ನು ಭಗವಂತ ಅನುಗ್ರಹಿಸಿದ್ದ.

  ಈ ಗ್ರಂಥಗಳ ಅಧ್ಯಯನವನ್ನು ನಡೆಸುವ ಸಂದರ್ಭದಲ್ಲಿಯೇ ನನ್ನ ತಲೆಯಲ್ಲಿ ಮೂಡಿದ ಯೋಚನೆ, ಸಜ್ಜನರಿಗೆ ಶಾಸ್ತ್ರವನ್ನು ಕ್ರಮಬದ್ಧವಾಗಿ ತಲುಪಿಸಬೇಕು ಎನ್ನುವದು. ಹೊರಗಿನ ಕಾರ್ಯಕ್ರಮಗಳಲ್ಲಿ ಮಾಡುವ ಉಪನ್ಯಾಸಗಳನ್ನು ರೆಕಾರ್ಡ್ ಮಾಡಿ ನೀಡುವದಲ್ಲ, ನನ್ನದೇ ಒಂದು ಸ್ವಂತ ಸ್ಟುಡಿಯೋ ಕಟ್ಟಿಕೊಂಡು ಅದರಲ್ಲಿ ಒಂದು ವ್ಯವಸ್ಥಿತವಾದ ಕ್ರಮದಲ್ಲಿ ಉಪನ್ಯಾಸಗಳನ್ನು, ಪಾಠಗಳನ್ನು ರೆಕಾರ್ಡ್  ಮಾಡಬೇಕು ಎನ್ನುವ ಆಲೋಚನೆ ಮೂಡಿತ್ತು. ಸ್ಟುಡಿಯೋ ಇಟ್ಟುಕೊಂಡಿದ್ದ ಅನೇಕರನ್ನು ಸಂಪರ್ಕಿಸಿ ಖರ್ಚು ಎಷ್ಟಾಗಬಹುದು ಎನ್ನುವದನ್ನೂ ತಿಳಿದುಕೊಂಡಿದ್ದೆ. 2004 ನೆಯ ಇಸವಿಯಲ್ಲಿ ಸ್ಥಳದ ಖರ್ಚನ್ನು ಬಿಟ್ಟು ಮೂರು ಲಕ್ಷಗಳಾಗುತ್ತವೆ ಎಂದಿದ್ದರು. ಅಷ್ಟು ಹಣವಿಲ್ಲದ ಕಾರಣ ಸುಮ್ಮನಾಗಿದ್ದೆ. ಆಗೇನಾದರೂ ಸ್ಟುಡಿಯೋ ದೊರಕಿದ್ದರೆ 2016 ನೆಯ ಈ ಸಮಯಕ್ಕೆ  ವಿಶ್ವನಂದಿನಿಯ ಮುಕ್ಕಾಲು ಕಾರ್ಯ ಮುಗಿದುಬಿಟ್ಟಿರುತಿತ್ತು.

  ಆ ನಂತರ, 2006 ನೆಯ ಇಸವಿಯಲ್ಲಿ ಮೊಟ್ಟ ಮೊದಲಿಗೆ ಒಂದು ಸ್ಟುಡಿಯೋ ಬಾಡಿಗೆ ಹಿಡಿದು ಶ್ರೀ ನರಸಿಂಹಾವತಾರದ ಉಪನ್ಯಾಸವನ್ನು ಮಾಡಿದ್ದೆ. ಶ್ರೀಮದ್ ಭಾಗವತದ ಸಪ್ತಮಸ್ಕಂಧದ ಉಪನ್ಯಾಸ. ನಾಲ್ಕೂವರೆ ಗಂಟೆಗಳ ಕಾಲದ ಉಪನ್ಯಾಸ. ಅಷ್ಟು ಮಾಡಲಿಕ್ಕೆ ಹದಿನೈದುಸಾವಿರ ರೂಪಾಯಿ ಸಾಲವನ್ನು ಮಾಡಿದ್ದೆ. ಮಾಡಿದರೆ ಸ್ವಂತ ಸ್ಟುಡಿಯೋದಲ್ಲಿಯೇ ಉಪನ್ಯಾಸವನ್ನು ಮಾಡಬೇಕು ಎನ್ನುವದು ಮನವರಿಕೆಯಾಗಿತ್ತು. ಕಾರಣ, ಅಲ್ಲಿ ಹೇಳಲಿಕ್ಕಾಗುವಷ್ಟು ವಿಷಯವನ್ನು ಕಾರ್ಯಕ್ರಮಗಳಲ್ಲಿ ಹೇಳಲು ಸಾಧ್ಯವಾಗುವದಿಲ್ಲ. ಹೀಗಾಗಿ ಸ್ಟುಡಿಯೋದಲ್ಲಿಯೇ ಉಪನ್ಯಾಸಗಳನ್ನು ಮಾಡುವ ನಿರ್ಧಾರ ಗಟ್ಟಿಯಾಗಿತ್ತು.

  2008 ರಲ್ಲಿ ರಾಜರಾಜೇಶ್ವರಿನಗರದ ಒಂದು ಬಾಡಿಗೆ ಮನೆಯಲ್ಲಿ ಸ್ಟುಡಿಯೋ ನಿರ್ಮಾಣ ಮಾಡಿಕೊಂಡು ವಿಶ್ವನಂದಿನಿಯ ಕಾರ್ಯ ಆರಂಭಿಸಿದ್ದೆ. ನರಸಿಂಹಾವತಾರದ ಉಪನ್ಯಾಸ ಕೇಳಿ ಪ್ರಭಾವಿತರಾಗಿದ್ದ ನನ್ನ ಆತ್ಮೀಯ ಶಿಷ್ಯರೊಬ್ಬರು ಇಡಿಯ ಸ್ಟುಡಿಯೋ ನಿರ್ಮಾಣಕ್ಕೆ ಬೇಕಾದ ಪರಿಕರಗಳನ್ನು ಒದಗಿಸಿಕೊಟ್ಟರು. ವಿಶ್ವನಂದಿನಿಯ ಯೋಜನೆಯ ಕುರಿತು ವಿಸ್ತಾರವಾಗಿ ಬರೆದು ಸಾವಿರಾರು ಜನರಿಗೆ ತಲುಪಿಸಿದೆ. ತಿಂಗಳಿಗೆ ನೂರು ರೂಪಾಯಿ ನೀಡಿದರೆ ಪ್ರತೀತಿಂಗಳು ಉಪನ್ಯಾಸಗಳು ಸೀಡಿಗಳ ರೂಪದಲ್ಲಿ ನಿಮ್ಮ ಮನೆ ತಲುಪುತ್ತವೆ ಎಂದು ತಿಳಿಸಿದ್ದೆ. ರಾಜ್ಯದ ನಾನಾಕಡೆಗಳಿಂದ ಜನ ಸದಸ್ಯರಾದರು. ಮೊದಲ ವರ್ಷ ಸುಗಮವಾಗಿ ಮುಂದುವರೆಯಿತು. ಆದರೆ, ನನ್ನ ಮನಸ್ಸಿಗೆ ಕಿರಿಕಿರಿ. ಶ್ರೀಮದಾಚಾರ್ಯರ ಶಾಸ್ತ್ರವನ್ನು ಮಾರಾಟ ಮಾಡುತ್ತಿದ್ದೇನಾ ಎಂಬ ಭಯ. ಬರುತ್ತಿದ್ದ ಹಣ ಸಾಲದೇ ಸಾಲವನ್ನೂ ಮಾಡಿಯಾಗಿತ್ತು. ಆದರೂ ಸಹ ಮಧ್ವಶಾಸ್ತ್ರವನ್ನು ಮಾರಾಟಮಾಡಬಾರದು, ಪ್ರತಿಯೊಬ್ಬರಿಗೂ ಉಚಿತವಾಗಿ ನೀಡಬೇಕು ಎನ್ನುವ ಸಂಕಲ್ಪ ದಿವಸದಿಂದ ದಿವಸಕ್ಕೆ ಗಟ್ಟಿಯಾಗುತ್ತಿತ್ತು.  ಅದಕ್ಕೆ ತಕ್ಕಂತೆ ಶ್ರೀಮದಾಚಾರ್ಯರ ಪರಮಾನುಗ್ರಹದ ಅನುಭವವೂ ಆಯಿತು.

  ರಾಜರಾಜೇಶ್ವರಿನಗರದ ಮನೆಯಲ್ಲಿದ್ದಾಗ ಶ್ರೀ ಮಧ್ವವಿಜಯದ ನಾಲ್ಕು ಸರ್ಗಗಳ ಉಪನ್ಯಾಸವನ್ನು ಮಾಡಿ ಮುಗಿಸಿದ್ದೆ. ಅದರ ಫಲವಾಗಿ ನನ್ನ ಆತ್ಮೀಯ ಶಿಷ್ಯ — ಆಗ ಸ್ಟುಡಿಯೋ ನಿರ್ಮಾಣ ಮಾಡಿಕೊಟ್ಟಿದ್ದಷ್ಟೇ ಅಲ್ಲದೆ, ಈಗ ಮನೆಯನ್ನೇ ಕಟ್ಟಿಕೊಡಲು ಸಿದ್ಧನಾಗಿದ್ದ. ಕಾವೇರಿಯ ಪ್ರಶಾಂತ ತೀರದಲ್ಲಿ ಇಬ್ಬರು ಸಜ್ಜನರು ಸೇರಿ ಸ್ಥಳವನ್ನು ದಾನ ನೀಡಿದ್ದರು. ಆ ಸ್ಥಳದಲ್ಲಿ ಮನೆಯ ನಿರ್ಮಾಣ ಆರಂಭವಾಯಿತು. ಒಂದು ದೇವಸ್ಥಾನ ಕಟ್ಟುವ ಶ್ರದ್ಧೆಯಿಂದ ನನ್ನ ಆ ಶಿಷ್ಯ ಮತ್ತು ಅವರ ಕುಟುಂಬದವರು ಅರಮನೆಯಂತಹ ಮನೆಯನ್ನು ಕಟ್ಟಿ ದಾನ ನೀಡಿದರು.

  ಇವೆಲ್ಲ ಹೇಳುತ್ತಿರುವ ಉದ್ದೇಶವಿಷ್ಟೆ. ಶ್ರೀಮದಾನಂದತೀರ್ಥಭಗವತ್ಪಾದಾಚಾರ್ಯರಲ್ಲಿ, ಗುರುಗಳಲ್ಲಿ ಪೂರ್ಣ ವಿಶ್ವಾಸವಿಟ್ಟು ಶಾಸ್ತ್ರದ ಅಧ್ಯಯನದಲ್ಲಿ ಆಸಕ್ತರಾಗಿದ್ದರೆ ಅವರು ನಮ್ಮನ್ನು ರಾಜರಂತೆ ಇರಿಸುತ್ತಾರೆ. ಆಪ್ತಬಂಧುವಾಗಿ ಕಾಯುತ್ತಾರೆ. ಒಂದು ರೂಪಾಯಿ ಸಂಪಾದನೆ ಮಾಡದ, ಯಾವ ಉದ್ಯೋಗಕ್ಕೆ ಹೋಗದ ನಾನೆಲ್ಲಿ, ಹಣವಿದ್ದವರಿಗೆ ಮಾತ್ರ ಸಾಧ್ಯವಾಗುವಂತಹ ಮನೆ, ವಾಹನ, ಸ್ಟುಡಿಯೋ, ಕಂಪ್ಯೂಟರ್ಗಳೆಲ್ಲಿ. ಬಯಸಿದ್ದೆಲ್ಲವನ್ನು ಆ ಗುರುಗಳು ನೀಡಿದ್ದಾರೆ, ನೀಡುತ್ತಿದ್ದಾರೆ.

  ಇವತ್ತಿಗೂ ಅಷ್ಟೆ, ಶ್ರೀಮದಾಚಾರ್ಯರ ಅನುಗ್ರಹ ಹೆಜ್ಜೆಹೆಜ್ಜೆಗೆ ಅನುಭವಕ್ಕೆ ಬರುತ್ತಿದೆ. ನನ್ನ ಕೆಲಸಕ್ಕೆ ಅನುಕೂಲವಾಗಲು ಸುಮಾರು ಒಂದೂವರೆಲಕ್ಷ ರೂಪಾಯಿಗಳ ಕಂಪ್ಯೂಟರ್ ಬೇಕಾಗಿತ್ತು. ವಿಶ್ವನಂದಿನಿಯ ಕಾರ್ಯದ ಮೇಲೆ ಅಪಾರ ಅಭಿಮಾನವನ್ನು ಹೊಂದಿರುವ ವಯಸ್ಸಿನಲ್ಲಿ  ಮತ್ತು ಅಭಿಮಾನದಲ್ಲಿ ನನ್ನ ಅಜ್ಜನಂತಿರುವ, ಶ್ರೀ ಪಿ ಎನ್ ದೇಶಪಾಂಡೆಯವರು ತಮ್ಮ ಇಳಿವಯಸ್ಸಿನಲ್ಲಿಯೂ ಒಂದು ಲಕ್ಷಕ್ಕೂ ಮಿಗಿಲು ಹಣವನ್ನು ಸ್ವಇಚ್ಛೆಯಿಂದ ಸಂಗ್ರಹಿಸಿ ತಮ್ಮ ಮನೆಗೆ ಕರೆಸಿ ನೀಡಿದರು. ಬೆಂಗಳೂರಿನಿಂದ ಕೈಯಲ್ಲಿ ಕಂಪ್ಯೂಟರ್ ಹಿಡಿದೇ ಹೆಮ್ಮಿಗೆಗೆ ಹಿಂತಿರುಗಿದ್ದೆ.

  WhatsApp ನ ಮುಖಾಂತರ ವಿಶ್ವನಂದಿನಿಯ ಕಾರ್ಯವನ್ನು ಅರಂಭಿಸಿದ ಬಳಿಕ ಜನರ ಸಂಖ್ಯೆ ದಿನದಿನಕ್ಕೆ ಹೆಚ್ಚಾಗಲಾರಂಭಿಸಿತು. 256 ಜನರ ಒಂದು broadcast list ನಂತೆ list ಗಳನ್ನು ಮಾಡಿ  ಉಪನ್ಯಾಸವನ್ನು ಬೆಳಿಗ್ಗೆ ಕಳುಹಿಸಲು ಆರಂಭಿಸಿದರೆ ರಾತ್ರಿಯಾದರೂ ಮುಗಿಯುತ್ತಿರಲಿಲ್ಲ. ಅದೆಂತಹ ಭಾರೀ ಫೋನಾದರೂ ಸುಸ್ತಾಗಿಬಿಡುತ್ತಿತ್ತು. ಹೀಗಾಗಿ App ಮಾಡಿಸುವ ನಿರ್ಧಾರ ಮಾಡಿದೆ. ಸಾಕಷ್ಟು ಜನರನ್ನು ಸಂಪರ್ಕಿಸಿದಾಗ ಸುಮಾರು ಎರಡೂವರೆ ಲಕ್ಷ ಖರ್ಚಾಗುತ್ತದೆ ಎಂದರು. ಆಗಲೂ ನನ್ನ ಅನುಭವಕ್ಕೆ ಬಂದದ್ದು ಆಚಾರ್ಯರ ಅನುಗ್ರಹವೇ. ಸಮೀರ್ ಬದಾಮಿ ಎನ್ನುವ ಉತ್ಸಾಹೀ ಯುವಕ — ಅದುವರೆಗೆ ಅವರನ್ನು ನಾನು ಕಂಡೇ ಇಲ್ಲ — ತಾವಾಗಿ ತಮ್ಮ ಗೆಳೆಯನೊಂದಿಗೆ ನನ್ನ ಮನೆಗೆ ಬಂದರು.  App ನ specifications ತೆಗೆದುಕೊಂಡರು. ನಾನು ಮಾಡಿಕೊಡುತ್ತೇನೆ ಎಂದರು. ಒಂದು ರೂಪಾಯಿ ಹಣ ತೆಗೆದು ಕೊಳ್ಳದೆ ಇಷ್ಟು ವ್ಯವಸ್ಥಿತವಾದ App ಮಾಡಿಕೊಟ್ಟಿದ್ದಾರೆ. ಇದನ್ನು ಶ್ರೀಮದಾಚಾರ್ಯರ ಅನುಗ್ರಹವಲ್ಲದೇ ಮತ್ತೇನನ್ನಬೇಕು? ಅಂದುಕೊಂಡದನ್ನು ಅನುಭವಕ್ಕೆ ತಂದು ನೀಡುತ್ತಿದ್ದಾರೆ, ಕಾರುಣ್ಯದ ಗುರುಗಳು.

  ವಿಶ್ವನಂದಿನಿಯ ಖರ್ಚು ತಿಂಗಳಿಗೆ ಒಂದು ಲಕ್ಷವನ್ನೂ ದಾಟುತ್ತದೆ. ಇಂಟರ್ನೆಟ್ಟಿನ ಖರ್ಚಿಗೇ ತಿಂಗಳಿಗೆ ಹನ್ನೆರಡು ಸಾವಿರ ನೀಡಬೇಕು. ಶ್ರೀಮದಾಚಾರ್ಯರು ಸಜ್ಜನರ ಮುಖಾಂತರ ನೀಡುತ್ತಾರೆ, ನಡೆದು ಕೊಂಡು ಹೋಗುತ್ತಿದೆ. ವಿಶ್ವನಂದಿನಿಯ ಬಾಂಧವರಿಗೆ ವಿಶ್ವನಂದಿನಿ ಖಾತೆಯ ಅಕೌಂಟ್ ನಂಬರ್ ಗೊತ್ತಿದೆ. ದೇವರಿಗೆ ಎಷ್ಟು ಹಣ ಬೇಕು ಎನ್ನುವದು ಗೊತ್ತಿದೆ. ದೇವರು ಅವರಿಗೆ ಪ್ರೇರಣೆ ನೀಡುತ್ತಾನೆ, ತಿಂಗಳ ಖರ್ಚು ಕಳೆಯುತ್ತದೆ. ವಿಶ್ವನಂದಿನಿಯ ಜ್ಞಾನರಥ ಮುಂದೆ ಸಾಗುತ್ತಿದೆ.

  ಸಜ್ಜನರು ನನ್ನ ಮೇಲೆ ತೋರಿರುವ, ತೋರುತ್ತಿರುವ ಈ ಅಭಿಮಾನಕ್ಕೆ ಮಾತ್ರ ಮೂಕನಾಗಿಬಿಟ್ಟಿದ್ದೇನೆ. ತತ್ವಗಳ ವಿಷಯದಲ್ಲಿ ಮಾಧ್ವರ ಅಷ್ಟೂ ಮಠಗಳನ್ನು ಎದುರು ಹಾಕಿಕೊಂಡ ಮನುಷ್ಯ ನಾನು. ಬನ್ನಂಜೆಯನ್ನಂತೂ ಖಂಡತುಂಡ ಮಾಡಿಟ್ಟುಬಿಟ್ಟಿದ್ದೇನೆ. ವಿಮರ್ಶೆಗೆ ನಿಂತರೆ ನನ್ನ ಭಾಷೆ ವಿಪರೀತ ಖಾರ. ದೇವರು ಗುರುಗಳು ಸಮಾಜದ ಮುಖಾಂತರ ಅಷ್ಟು ಪ್ರೀತಿಯನ್ನು ನೀಡುತ್ತಿದ್ದಾರೆ. ನಿಮ್ಮ ಈ ಪ್ರೀತಿ ಅಭಿಮಾನಗಳಿಗೆ ನಾನು ಶಾಶ್ವತವಾಗಿ ಋಣಿ.

  ವಿಶ್ವನಂದಿನಿ ಮೊದಲಿಗೆ ಸೀಡಿಗಳ ರೂಪದಲ್ಲಿ ಆರಂಭವಾಯಿತು. ಆ ನಂತರ ಡೀವಿಡಿಯಾಯಿತು. ಬಳಿಕ WhatsApp ಮುಖಾಂತರ ಮನೆಮಾತಾಯಿತು. ಈಗ App ನ ರೂಪದಲ್ಲಿ ನಿಮ್ಮ ಕೈಯಲ್ಲಿದೆ. ಶ್ರೀಮದಾಚಾರ್ಯರ ಶಾಸ್ತ್ರದ ಪ್ರತಿಯೊಂದು ತತ್ವವನ್ನೂ, ಸಮಸ್ತ ಪುರಾಣಗಳನ್ನೂ, ಮಹಾಭಾರತ ರಾಮಾಯಣಗಳನ್ನೂ ಅನುವಾದ ಮಾಡುವ ಸತ್ಸಂಕಲ್ಪದಿಂದ ಹೆಮ್ಮಿಗೆಯಲ್ಲಿ ಹದಿನೈದು ವರ್ಷಗಳ ಮಹಾಚಾತುರ್ಮಾಸ್ಯಕ್ಕೆ ಕುಳಿತಿದ್ದೇನೆ.  ಲೇಖನ ಉಪನ್ಯಾಸಗಳನ್ನು  ಮಾಡಿ ಶ್ರೀ ವೇದವ್ಯಾಸದೇವರ ಪಾದಕ್ಕೊಪ್ಪಿಸಿ ನಿಮಗೆ ನೀಡುತ್ತಿರುತ್ತೇನೆ. ಆಸ್ವಾದಿಸುತ್ತಿರಿ.

  ವಿಶ್ವನಂದಿನಿಯ App ನಿರ್ಮಾಣವಾಗಲಿಕ್ಕೇ ಅಂದುಕೊಂಡದ್ದಕ್ಕಿಂತ ಹೆಚ್ಚು ಸಮಯ ಬೇಕಾಯಿತು. ಸಂಸ್ಕೃತಸುರಭಿಯ ಕೆಲಸ ಇನ್ನೂ complicated ಆದದ್ದು. ಅದರ ನಿರ್ಮಾಣ ಅರಂಭವಾಗಿದೆ. ಎಷ್ಟು ಸಾಧ್ಯವೋ ಅಷ್ಟು ಬೇಗ ಅದನ್ನು ನಿಮಗೆ ನೀಡುತ್ತೇನೆ. ಮೂರು ವರ್ಷಗಳ ಅವಧಿಯಲ್ಲಿ ಸಂಸ್ಕೃತವನ್ನು ಪೂರ್ಣವಾಗಿ ಕಲಿಸುವ App ಅದು. ಅದರೊಟ್ಟಿಗೆ ಸ್ವಾಧ್ಯಾಯಸುರಭಿ. ನಿಮ್ಮಿಂದ ಶಾಸ್ತ್ರದ ಅಧ್ಯಯನ ಮಾಡಿಸಲು.

  ನನ್ನ ದಿವಸದ ಪೂರ್ಣ ಸಮಯವನ್ನು ಲೇಖನ, ಉಪನ್ಯಾಸ, ಪಾಠಗಳಿಗಾಗಿ ವಿನಿಯೋಗಿಸುತ್ತಿದ್ದೇನೆ. ನಮ್ಮ ಸಮಾಜದ ಪ್ರತಿಯೊಬ್ಬ ಸಜ್ಜನರೂ ಮನೆಯಲ್ಲಿ ಕುಳಿತೇ ಸಂಸ್ಕೃತವನ್ನು ಕಲಿಯಬೇಕು, ಶಾಸ್ತ್ರವನ್ನು ಅಧ್ಯಯನ ಮಾಡಬೇಕು, ಉನ್ನತ ಮಟ್ಟದ ವಿದ್ವಾಂಸರಾಗಿ, ಹಿರಿಯ ಆದರ್ಶಗಳನ್ನು ಮೈಗೂಡಿಸಿಕೊಳ್ಳಬೇಕು ಎನ್ನುವದು ನನ್ನ ಅಪೇಕ್ಷೆ. ಗುರುಗಳು, ಶ್ರೀಮದಾಚಾರ್ಯರು ಮಾಡಿಸುತ್ತಾರೆ ಎಂಬ ಪೂರ್ಣ ವಿಶ್ವಾಸವಿದೆ.

  ನಾನು ವಾಸವಿರುವ ಸ್ಥಳ, ಇರುವ ಮನೆ, ಓಡಿಸುವ ವಾಹನ, ಉಪಯೋಗಿಸುವ ವಸ್ತುಗಳು ಎಲ್ಲವೂ ಸಮಾಜದ ಮುಖಾಂತರ ಶ್ರೀಮದಾಚಾರ್ಯರು ಅನುಗ್ರಹಿಸಿದ್ದು. ನನಗೆ ತಿಳಿದಿರುವ ಎರಡಕ್ಷರವನ್ನು ಪರಿಶುದ್ಧವಾದ ಕ್ರಮದಲ್ಲಿ ಅದೇ ಸಮಾಜದ ಮುಖಾಂತರ ಶ್ರೀಮದಾಚಾರ್ಯರಿಗೊಪ್ಪಿಸಿಕೊಳ್ಳುತ್ತಿದ್ದೇನೆ, ಅಷ್ಟೆ.

  ಇದಿಷ್ಟು ನನ್ನ ಅಧ್ಯಯನ ಮತ್ತು ಕಾರ್ಯಗಳ ಕುರಿತ ಸ್ಥೂಲ ಚಿತ್ರಣ. ಮುಖ್ಯವಾಗಿ ನನ್ನ ಮೇಲೆ ಪರಮಾನುಗ್ರಹಗೈದ, ನನ್ನನ್ನು ಕಣ್ರೆಪ್ಪೆಯಂತೆ ರಕ್ಷಿಸುತ್ತಿರುವ ನನ್ನ ಸರ್ವಸ್ವದ ಸ್ವಾಮಿ ನನ್ನ ಗುರುಗಳಾದ ಶ್ರೀಮಧ್ವಾನುಜಾಚಾರ್ಯರು ನನ್ನ ಮೇಲೆ ಮಾಡಿರುವ ಅನಂತ ಅನುಗ್ರಹದ ಲೇಶಾಂಶದ ಚಿಂತನೆಯಿದು. ನನ್ನ ಹುಟ್ಟಿನಿಂದಲೂ ನನ್ನನ್ನು ಪೊರೆಯುತ್ತಿರುವ ಮಹಾನುಭಾವರು ಅವರು. ನನ್ನ ಸರ್ವಸ್ವವೂ, ನನ್ನ ಅಸ್ತಿತ್ವ ಸಹ ಅವರಧೀನ. ಅವರು ಸೂತ್ರಧಾರಿ ನಾನು ಗೊಂಬೆ. ಅವರು ವೈಣಿಕ. ನಾನು ವೀಣೆ. ಅಷ್ಟೆ.

  ಮೇಲೆ ಬರೆದ ಯಾವುದನ್ನೂ ಅಹಂಕಾರದಿಂದ ಬರೆದದ್ದಲ್ಲ, ಪ್ರಚಾರಕ್ಕಾಗಿಯೂ ಬರೆದದ್ದಲ್ಲ. ವಿಶ್ವನಂದಿನಿಯ ಬಾಂಧವರು ಮೇಲಿಂದಮೇಲೆ ನನ್ನ ಕುರಿತು ತಿಳಿಯಲು ಇಷ್ಟಪಟ್ಟಿದ್ದರಿಂದ, ಗುರು-ಹಿರಿಯರ, ಗುರುಗಳ ಸ್ಮರಣೆಯಾಗುತ್ತದೆ ಎನ್ನುವ ಉದ್ದೇಶದಿಂದ ಬರೆದಿದ್ದೇನೆ.

  ಹಿಂದೆ ಹೇಳಿದಂತೆ ನಾನು ವಾಸವಿರುವದು ಮೈಸೂರು ಜಿಲ್ಲೆಯ ತಿರುಮಕೂಡಲು ನರಸೀಪುರ ತಾಲ್ಲೂಕಿನ, ತಲಕಾಡಿನ ಸಮೀಪದ ಕಾವೇರಿಯ ತೀರದ ಹೆಮ್ಮಿಗೆ ಎಂಬ ಹಳ್ಳಿಯಲ್ಲಿ. ಮೈಸೂರಿನಿಂದ 45 ಕಿ.ಮೀಗಳು. ಬೆಂಗಳೂರಿನಿಂದ ಎರಡೂವರೆ ತಾಸಿನ ಹಾದಿ. 130 ಕಿ.ಮೀಗಳು. ಗುರುಗಳು ಅನುಗ್ರಹಿಸಿ ನೀಡಿದ ಈ ಮನೆಯ ಹೆಸರು “ಶ್ರೀ ಮಧ್ವಾನುಜಮಂದಿರಮ್” ಎಂದು. ಕಾವೇರಿಯ ತೀರದಲ್ಲಿಯೇ ಮನೆ. ಸಜ್ಜನರಿಗೆ ಎಂದಿಗೂ ಈ ಮನೆಯ ಬಾಗಿಲು ತೆರೆದೇ ಇರುತ್ತದೆ. ಅವಶ್ಯವಾಗಿ ಬನ್ನಿ.  ಆತಿಥ್ಯ ಸ್ವೀಕರಿಸಿ. ಬರುವ ಮುನ್ನ ಒಮ್ಮೆ ಫೋನ್ ಮಾಡಿ ನನ್ನ ಇರುವಿಕೆಯನ್ನು ಖಚಿತಪಡಿಸಿಕೊಂಡು ಬರಬೇಕಾಗಿ ವಿನಂತಿ.

  ಶ್ರೀಮದಾಚಾರ್ಯರ ಶಾಸ್ತ್ರದ ಸೇವೆ ಮಾಡುವ ಸೌಭಾಗ್ಯ ಸದಾ ಇರಲಿ ಎಂದು ಸಮಗ್ರ ಗುರುಪರಂಪರೆಯನ್ನು ವಿನಮ್ರವಾಗಿ ಪ್ರಾರ್ಥಿಸಿಕೊಂಡು ವಿರಮಿಸುತ್ತೇನೆ.

  ಅಭಿಮಾನವಿರಲಿ.

  — ವಿಷ್ಣುದಾಸ ನಾಗೇಂದ್ರಾಚಾರ್ಯ

  ಶ್ರೀ ಮಧ್ವಾನುಜ ಮಂದಿರಮ್
  ಕಾವೇರಿ ಮಾರ್ಗ, ಹೆಮ್ಮಿಗೆ ಗ್ರಾಮ
  ತಲಕಾಡು, ತಿ.ನರಸೀಪುರ
  ಮೈಸೂರು — 571122


  WhatsApp 9901551491
                                <p>
                        </pre>
                    </div>
                </div>
              </div>
        </div>
      <div class="row">
        <div class="col-lg-1"></div>
  		  <div class="col-lg-10">
  				<hr>
  		  </div>
      </div>
    <!-- Footer -->
    <footer>
        <div class="row">
    			   <div class="col-lg-1"></div>
              <div class="col-lg-10">
                        <p style="text-align:center">Copyright &copy; VISHWANANDINI</p>
              </div>
              <div class="col-lg-1"></div>
        </div>
    </footer>

    </div>
